
<iframe id="{{ iframe_id }}" srcdoc="{{ quiz_content }}" width="100%" style={{ '{{' }}border: 'none' , overflow: 'hidden'{{ '}}' }} onLoad={() => {var ifrm = document.getElementById("{{ iframe_id }}"); ifrm.height = ifrm.contentWindow.document.body.scrollHeight + 36;}}></iframe>
