<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<div class="card d-flex" style="width: 75%; margin: auto; margin-top: 1rem; margin-bottom: 1rem;">
  <div class="card-header" id="{{ question.id }}">
    {{ question.text }}
  </div>
  <ul class="list-group list-group-flush">
    {%- for answer in answers %}
    <li class="list-group-item choice">
      <div class="form-check">
        {% if answers_ids | length > 1 %}
        <input class="form-check-input" type="checkbox" name="flexCheckDefault" id="{{ answer.id }}">
        {% else %}
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="{{ answer.id }}">
        {% endif %}
        <label class="form-check-label" for="{{ answer.id }}">
          {{ answer.text }}
        </label>
      </div>
    </li>
    {% endfor -%}
  </ul>
  <div class="card-footer">
    <div class="text-center" style="padding: 5px;">
      <button class="check btn btn-primary" type="button" onclick='console.log("Clickedcheck");answersIds={{ answers_ids | tojson }};document.getElementsByClassName("check")[0].classList.add("disabled");choices=document.getElementsByClassName("choice");var correctAnswersCount=0;var wrongAnswersCount=0;for(i=0;i<choices.length;i++){choice=choices[i].firstElementChild.firstElementChild;choice.disabled=true;if(choice.checked){if(answersIds.includes(choice.id)){choices[i].classList.add("list-group-item-success");correctAnswersCount++;}else{choices[i].classList.add("list-group-item-danger");wrongAnswersCount++;}}}if(correctAnswersCount==answersIds.length&&wrongAnswersCount==0){document.getElementsByClassName("feedback")[0].classList.remove("d-none");var savTop=parent.document.documentElement.scrollTop;document.getElementsByClassName("feedback")[0].scrollIntoView(false);parent.document.documentElement.scrollTop=savTop;}'>Check Answer </button>
      <button class="reset btn btn-default" type="button" onclick='console.log("Clickedreset");document.getElementsByClassName("check")[0].classList.remove("disabled");choices=document.getElementsByClassName("choice");for(i=0; i<choices.length; i++){choice=choices[i].firstElementChild.firstElementChild;choice.disabled=false;choices[i].classList.remove("list-group-item-success");choices[i].classList.remove("list-group-item-danger");choice.checked=false;}document.getElementsByClassName("feedback")[0].classList.add("d-none");var savTop=parent.document.documentElement.scrollTop;document.getElementsByClassName("card")[0].scrollIntoView(false);parent.document.documentElement.scrollTop=savTop;'>Try Again</button>
    </div>
  </div>
</div>

<div class="feedback card d-flex d-none" style="width: 80%; margin: auto; margin-top: 1rem;">
  <div class="card-header">
    Feedback
  </div>
  <div class="card-body alert alert-success">
    {{ question.feedback }}
  </div>
</div>