// @ts-check
{% macro render_item(item) -%}
{% if item.children|length == 0 -%}
{
  type: 'doc',
  id: '{{ item.id }}',
  label: '{{ item.title }}',
},
{%- else -%}
{
  type: 'category',
  label: '{{ item.title }}',
  link: {
    type: 'generated-index',
    title: '{{ item.title }}',
    slug: '/{{ item.title }}/',
  },
  items: [
{% for child in item.children -%}
{{ render_item(child)|indent(4, True) }}
{% endfor %}
  ],
},
{% endif %}
{%- endmacro -%}
/** @type {import('@docusaurus/plugin-content-docs').SidebarsConfig} */
const sidebars = {
  {{ sidebar_name }}: [
{% for item in content -%}
{{ render_item(item)|indent(4, True) }}
{%- endfor %}
  ],
};

module.exports = sidebars;
